<div>
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom fixed-top">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
        <use xlink:href="#bootstrap"></use>
      </svg>
      <img src="/assets/img/logo.jpg" style="max-height: 70px;" alt="">
    </a>
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">Features</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">Pricing</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
    </ul>
    <div class="d-flex align-items-center">
      <a class="position-relative">
        <i class="fa fa-shopping-cart fa-2x mr-5 text-dark me-3"></i>
        <div class="cart-no">2</div>
      </a>
        <input class="form-control me-1" type="search" placeholder="Search" aria-label="Search">
        <button type="button" class="btn btn-outline-success me-1">Arama </button>
        <button type="button" class="btn btn-outline-primary me-1">Login</button>
    </div>
  </header>
</div>
