<div class="d-flex flex-wrap justify-content-center justify-content-between py-3 mb-4 border-bottom">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    <img src="/assets/img/logo.jpg" style="max-height: 70px;" alt="">
  </a>
  <nav class="my2 my-md-0 mr-md-3">
  <div class="d-flex align-items-center">
    <ul class="nav nav-pills">
      <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">AnaSayfa</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Kurumsal</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Fiyatlar</a></li>
      <li class="nav-item"><a href="#" class="nav-link">SSS</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Hakkında</a></li>
      <li class="fa fa-shopping-cart fa-2x mr-3 text-danger"><a href="#" class="myBasket basket-icon custom-icon"></a></li>
      <form class="d-flex mt-3 mt-lg-0" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search </button>
        <br>
        <li class="nav-item"><a class="btn btn-outline-secondary mr-3" href="#">Giriş</a></li>
      </form>

    </ul>
  </div>
</nav>
</div>


